html {
    font-family: "Trebuchet ms", Arial, sans-serif;
}

div.header, div.slider {
    width: 100%;
    float: left;
}

div.head, div.slide, div.wrapper_destacados, div.news {
    margin: 0 auto;
    width: 940px;
}

div.logo {
    float: left;
    width: 30%;
}

div.top-nav {
    float: left;
    width: 70%;
}

div.top-nav > ul {
    float: left;
    padding: 0;
    margin: 0;
}    
div.top-nav ul > li {    
    float: left;
    padding: 10px;     
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 44px;
    margin-left: 1em;
}

div.top-nav ul > li a {    
    display: inline-block;    
    line-height: 16px;
    padding: 14px 14px 15px 18px;
    position: relative;
    white-space: nowrap;
    color: #444;        
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

div.top-nav ul > li a:hover {    
    text-decoration: underline;    
}

div.top-nav ul li > ul {
    display: none;
}

div.top-nav ul li:hover > ul {
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;    
}

div.slider {
    background: url("../images/slide1.png") no-repeat scroll 0px 0px transparent;
    border: 2px solid #0CB9D6;
    height: 300px;
    line-height: 300px;
    overflow: hidden;
}

div.slide h1.txt-slide {
    background-color: #0CB9D6;
    color: #FFF;
    display: inline-block;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    margin-left: -8970px;
    max-width: 470px;
    position: relative;
    vertical-align: middle;
    padding: 56px 35px 56px 8970px;
}

div.wrapper_destacados {
    margin-top: 15px;
}

div.wrapper_destacados div.destacados {
    float: left;
    width: 32%;
    margin: 0 5px;
}

div.wrapper_destacados div.destacados > p {
    padding: 5px;
    width: 90%;
    text-align: justify;
    font-size: 16px
}

div.wrapper_destacados div.destacados > h2 {
    padding: 5px;
    width: 90%;
    font-size: 20px
}

div.wrapper_news {
    border: 2px solid #0CB9D6;
    height: 300px;    
    overflow: hidden;
    width: 100%;    
    float: left;
    margin-top: 15px;
    background: #F1F1F1;
}

div.news {
    margin-top: 85px;
    padding-left: 125px;
}

ul.listNews {        
    float: left;    
    margin: 0 18px;    
    width: 30%;
    list-style: circle;
    color: #0CB9D6;
}

ul.listNews:first-child {             
    margin-left: 0;
}

ul.listNews:last-child {             
    margin-right: 0;
}

ul.listNews > li:first-child {
    list-style: none;
}

ul.listNews a {
    text-decoration: none;
    color: #000;
}

ul.listNews a:hover {
    text-decoration: underline;
}

ul.listNews > li:first-child h2 {        
    font-size: 20px;
    font-weight: bold;
}